<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Пакунки лабораторних робіт</title>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
<div th:substituteby="index::logout"></div>
<div th:each="labbundle: ${lab_bundle_list}">
    <h2 th:text="${labbundle.getDescriprion()}"></h2>
    <!--<a th:text="Редагувати" th:href="/admin/lab_bundle.html"-->
    <div th:each="lab: ${labbundle.getLabsById()}">
        <span th:text="${lab.getName()}"/>
    </div>
</div>
</body>
</html>