body {
    font-family: sans-serif;
    font-size: 1em;
}

p.error {
    font-weight: bold;
    color: red;
}

div.logout {
    float: right;
    background-color: azure;
    border: solid;
    border-radius: 5px;
    margin: 10px;
}
